body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 0px;
}

ul a {
  color: #000;
}

ul a:hover {
  text-decoration: underline;
}

li {
  display: inline-block;
  margin-right: 40px;
}

a {
  text-decoration: none;
}

.fa-search,
.fa-facebook-messenger,
.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  margin-right: 10px;
  font-size: 20px;
  color: gray;
}

#search-bar-input {
  color: gray;
  margin-right: 20px;
  outline: none;
}
h1 a {
  color: inherit;
}

h1 {
  top: 0px;
  color: #f29f05;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

footer {
  height: 200px;
  background-color: grey;
  margin-top: 100px;
}
