body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-page-loader,
.carousel-loader,
.blog-page-loader,
.recipe-page-loader,
.about-page-loader,
.contact-page-loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #f29f05;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: circle 1.5s infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-header {
  background-color: black;
  height: 30px;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 3;
}

.main-nav-ul {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 0px;
}

.main-nav-ul a {
  color: #000;
}

.main-nav-ul a:hover {
  text-decoration: underline;
}

.main-nav-li {
  display: inline-block;
  margin-right: 40px;
}

a {
  text-decoration: none;
}

.fa-search,
.fa-facebook-messenger,
.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  margin-right: 10px;
  font-size: 20px;
  color: gray;
}

#search-bar-input {
  color: gray;
  margin-right: 20px;
  outline: none;
}

.page-overview-ul {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 0px;
}

.page-overview-li {
  display: inline-block;
}

.page-overview-li a {
  color: #000;
}

.mobile-nav-menu-button {
  display: none;
  font-size: 30px;
  text-align: end;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-nav-menu-container {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: absolute;
  position: fixed;
  background-color: #fff;
  width: 99%;
  height: fit-content;
  z-index: 2;
  top: 40px;
  margin-left: -10px;
  margin-right: -10px;
}

.mobile-ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.mobile-li {
  display: block;
  margin-bottom: 40px;
  margin-top: 45px;
}

.mobile-li a {
  color: #000;
}

h1 a {
  color: inherit;
}

h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  color: #f29f05;
  font-weight: normal;
  font-size: 70px;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 200px;
  background-color: grey;
}

@media only screen and (max-width: 845px) {
  .nav-social-media {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  header {
    padding: 5px;
  }
}

@media only screen and (max-width: 624px) {
  .main-nav-li {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 544px) {
  h1 {
    position: static;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .page-overview-ul {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  nav {
    display: none;
  }

  header {
    position: fixed;
    display: block;
    width: 99%;
    border-style: none;
    margin-top: -10px;
    background-color: #f29f05;
    height: 30px;
  }

  .main-nav-li {
    display: block;
    margin-right: 20px;
  }

  .nav-social-media-container {
    display: none;
  }

  .mobile-nav-menu-button {
    display: block;
  }
}

@media only screen and (max-width: 388px) {
  h1 {
    font-size: 40px;
  }

  .page-overview-ul {
    font-size: 15px;
  }
}

@media only screen and (max-width: 278px) {
  h1 {
    font-size: 30px;
  }

  .page-overview-ul {
    font-size: 13px;
  }
}
