main {
  display: grid;
  justify-content: center;
}

.home-page-container {
  width: 700px;
}

.home-page-image {
  width: 700px;
}

.home-page-h2 {
  font-weight: normal;
}

p {
  color: #4b4b4b;
}

h3 {
  font-size: 30px;
  margin: 0px;
  background-color: #f29f05;
  color: #fff;
  font-weight: normal;
  padding: 5px;
  width: fit-content;
}

.carousel-section {
  position: relative;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 700px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel-image {
  width: 230px;
  height: 160px;
}

.fa-chevron-left {
  position: absolute;
  left: -70px;
  top: 50%;
  color: #4b4b4b;
  font-size: 30px;
  cursor: pointer;
}

.fa-chevron-right {
  position: absolute;
  right: -60px;
  top: 50%;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  color: #4b4b4b;
}
