main {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.home-page-loader,
.carousel-loader {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

.loading-error-message,
.loading-carousel-error-message {
  display: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-nav-link {
  text-decoration: underline;
}

.home-page-container {
  max-width: 700px;
  width: 100%;
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.home-page-image {
  max-width: 700px;
  width: 100%;
}

p {
  color: #4b4b4b;
}

h2 {
  font-weight: normal;
  color: #4b4b4b;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

h3 {
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: #f29f05;
  color: #fff;
  font-weight: normal;
  padding: 5px;
  width: 140px;
}

.lastest-post-social-media {
  position: absolute;
  bottom: 22px;
  right: 0px;
}

h4 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: normal;
}

.carousel-section {
  position: relative;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  max-width: 700px;
  scroll-behavior: smooth;
  padding-top: 10px;
  margin-top: -10px;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-image {
  width: 230px;
  height: 160px;
}

.carousel-anchor {
  color: black;
}

.fa-chevron-left-container,
.fa-chevron-right-container {
  display: none;
}

.fa-chevron-left {
  width: 30px;
  padding: 3px;
  padding-right: 5px;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  left: -70px;
  top: 20%;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  background-color: #f29f05;
}

.fa-chevron-right {
  width: 30px;
  padding: 3px;
  text-align: center;
  border-radius: 50%;
  background-color: #f29f05;
  position: absolute;
  right: -60px;
  top: 20%;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.carousel-dots-container {
  display: none;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
}

.dot-one {
  color: #f29f05;
}

.dot-two,
.dot-three {
  color: #4b4b4b;
}

.back-to-top-arrow {
  right: 35px;
  bottom: 120px;
  font-size: 40px;
  color: red;
  background-color: #fff;
  position: absolute;
  position: fixed;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
}

@media only screen and (max-width: 900px) {
  .fa-chevron-left {
    left: 10px;
    top: 20%;
  }

  .fa-chevron-right {
    right: 10px;
    top: 20%;
  }
}

@media only screen and (max-width: 729px) {
  .home-page-container,
  .home-page-loader,
  .carousel-section {
    max-width: 470px;
  }
}

@media only screen and (max-width: 500px) {
  .lastest-post-social-media {
    display: none;
  }

  h3 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
  }

  .carousel-section {
    max-width: 232px;
  }

  .fa-chevron-left {
    left: -70px;
    top: 20%;
  }

  .fa-chevron-right {
    right: -60px;
    top: 20%;
  }
}

@media only screen and (max-width: 544px) {
  h2 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 385px) {
  .fa-chevron-left {
    left: 10px;
  }

  .fa-chevron-right {
    right: 10px;
  }
}
