main {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.post-container {
  margin-top: 100px;
  max-width: 700px;
}

.image-modal-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  right: 0px;
  height: 1000px;
  z-index: 4;
  cursor: zoom-out;
}

.modal-image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 950px;
}

.modal-image {
  cursor: default;
  max-width: 1000px;
}

.image-modal-cross {
  position: absolute;
  font-size: 30px;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

figure,
img {
  max-width: 700px;
  width: 100%;
  margin-left: 0px;
  height: 100%;
  cursor: zoom-in;
}

figure {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  margin-top: -4px;
  background-color: #f29f05;
  color: #fff;
  padding: 3px;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 25px;
}

.post-date,
.post-author {
  color: black;
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 5px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

h3,
h4,
h5 {
  font-weight: normal;
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 30px;
}

p {
  color: #4b4b4b;
}

.social-media-container {
  margin-top: 40px;
  text-align: end;
}

.add-a-comment-form {
  max-width: 700px;
}

.comment-header-container {
  height: 70px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.comment-header {
  margin-top: 23px;
  color: black;
}

label {
  display: block;
}

.add-a-comment-label,
.name-label,
.email-label {
  margin-bottom: 10px;
  font-size: 15px;
}

#add-a-comment-input {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  color: gray;
  outline: none;
}

.name-container,
.email-container,
.add-a-comment-container,
#add-a-comment-input {
  font-family: Arial, Helvetica, sans-serif;
}

.name-container,
.email-container {
  max-width: 300px;
  margin-bottom: 10px;
}

#name-input,
#email-input {
  width: 100%;
  height: 25px;
  color: grey;
  outline: none;
}

.add-a-comment-button {
  width: 130px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  background-color: #f29f05;
  color: #fff;
  font-weight: bold;
}

.back-to-top-arrow {
  right: 35px;
  bottom: 120px;
  font-size: 40px;
  color: red;
  background-color: #fff;
  position: absolute;
  position: fixed;
  cursor: pointer;
  z-index: 1;
  border-radius: 50px;
}

@media only screen and (max-width: 544px) {
  .image-modal-container {
    margin-top: 35px;
  }
}
